---
import { Image } from 'astro:assets';
import heroImage from "./images/fallout.jpg";
---

<style>
  .hero-title {
    line-height: 2.7rem;
  }

  @media screen and (max-width: 640px) {
    .hero-title {
      line-height: 2.0rem;
    }
  }
</style>

<section class="hero flex flex-col lg:flex-row justify-between items-center sm:gap-9 mt-4 sm:mt-8 lg:mt-16">
  <div class="hero-image">
    <figure>
      <Image
        class="rounded-lg lg:max-w-lg xl:max-w-xl"
        src={heroImage}
        alt="Ella Purnell dans Fallout"
        loading="eager"
      />
      <figcaption class="text-xs">
        Ella Purnell - <span class="font-semibold">Fallout</span> - Prime Video
      </figcaption>
    </figure>
  </div>
  <div class="flex flex-col text-center lg:text-left">
    <h1 class="hero-title text-2xl sm:text-3xl xl:text-4xl font-bold mt-4 mb-4 sm:mt-0">
      Bienvenue sur Planning Séries,<br />
      <span class="text-notionyellow-600"
        >le guide ultime pour ne rien manquer !</span>
    </h1>
    <p>Retrouvez dans ce calendrier toutes les dates de sortie<br> et diffusion des séries en France, sur toutes les plateformes et chaînes.</p>
    <a href="/#planning" class="cursor-pointer mt-4 py-3 px-4 font-medium text-sm text-center text-white rounded bg-notionyellow-600 sm:w-fit hover:bg-notionyellow-500 focus:ring-4 focus:outline-none focus:ring-notionyellow-300 self-center lg:self-auto">Accéder au planning</a>
  </div>
</section>
