---
import { Image } from "astro:assets";
import heroImage from "./images/the-night-agent-saison3.jpg";
---

<style>
  .hero-title {
    line-height: 2.7rem;
  }

  @media screen and (max-width: 640px) {
    .hero-title {
      line-height: 2rem;
    }
  }
</style>

<section
  class="hero flex flex-col lg:flex-row-reverse justify-center items-center gap-4 sm:gap-9 xl:gap-16 mt-4 sm:mt-8 lg:mt-16"
>
  <div class="hero-image">
    <figure>
      <Image
        class="rounded-lg lg:max-w-lg xl:max-w-xl"
        src={heroImage}
        alt="Affiche - The Night Agent saison 3"
        loading="eager"
      />
      <!-- <figcaption class="text-xs">
        <span class="font-semibold">Family Guy</span> - FOX
      </figcaption> -->
    </figure>
  </div>
  <div class="flex flex-col text-left">
    <h1
      class="hero-title text-2xl sm:text-3xl xl:text-4xl font-bold mt-4 mb-4 sm:mt-0"
    >
      <span class="text-notionyellow-600">Planning Séries</span> : le guide complet<span
        class="hidden sm:inline"
      >
        <br />
      </span> des sorties TV et streaming
    </h1>
    <p class="leading-relaxed font-medium">
      Ne manquez plus aucun épisode de vos séries préférées.<span
        class="hidden sm:inline"
      >
        <br />
      </span> Toutes les dates de diffusion sur les plateformes de streaming et chaînes TV en France.
    </p>
    <a
      href="/#planning"
      class="cursor-pointer mt-8 py-3 px-4 font-medium text-sm text-center text-white rounded bg-notionyellow-600 sm:w-fit hover:bg-notionyellow-500 focus:ring-4 focus:outline-none focus:ring-notionyellow-300"
      >Voir le planning</a
    >
  </div>
</section>
