---
const { Date, Titre, Saison, Plateforme } = Astro.props;
---
<div class="relative w-9/12 md:w-3/12 min-w-[310px] sm:h-40 bg-notionyellow-50 rounded-lg dark:bg-darkbgBrown-950">
    <span class="w-20 text-center inline-block px-2 py-1 text-xl font-medium bg-notionyellow-200 rounded-tl-lg rounded-br-lg dark:bg-selectionDarkbg-900 dark:text-notionyellow-200">{Date.split("/").slice(0, 2).join("/")}</span>
    <div class="p-4">
      <p class="text-lg font-semibold uppercase italic">{Titre}</p>
      <p class="font-medium">{Saison}</p>
    </div>
    <div class="absolute bottom-0 right-0">
      <p class="font-medium text-right bg-notionyellow-200 px-2 py-1 rounded-br-lg rounded-tl-lg dark:bg-selectionDarkbg-900 dark:text-notionyellow-200">{Plateforme}</p>
    </div>
</div>
