---
import selection from "../../data/selection.json";
import SectionTitle from "../SectionTitle.astro";
import SelectionItem from "./SelectionItem.astro";
---

<section id="selection" class="my-12 sm:my-24">
  <SectionTitle text="Sélection" />
  <div class="my-8 sm:my-12 flex justify-center gap-4 flex-wrap">
    {
      selection.map(item => <SelectionItem  {...item} />)
    }
  </div>
</section>
