---
import recentAdditions from "../../data/recentAdditions.json";
import SectionTitle from "../SectionTitle.astro";
import RecentItem from "./RecentItem.astro";

const updateDate = "14 septembre 2024";
---

<section id="recent" class="my-12 sm:my-24">
  <SectionTitle text="Derniers ajouts" />
  <p class="my-8 sm:my-12 text-sm sm:text-lg font-semibold text-center rounded bg-notionyellow-50 sm:w-80 m-auto px-2 py-1 dark:bg-darkbgBrown-950">
    Mise à jour : <span>{updateDate}</span>
  </p>
  <p>Les dernières dates ajoutées au planning.</p>

  <table class="my-4 text-xs sm:text-sm table-auto max-w-screen-md sm:w-4/5 m-auto border-separate border-spacing-1">
    <thead>
      <tr>
        <th class="bg-notionyellow-100 p-2 dark:bg-tableDarkbg-950">Date</th>
        <th class="bg-notionyellow-100 p-2 dark:bg-tableDarkbg-950">Titre</th>
        <th class="bg-notionyellow-100 p-2 dark:bg-tableDarkbg-950">Saison</th>
        <th class="bg-notionyellow-100 p-2 dark:bg-tableDarkbg-950">Plateforme</th>
      </tr>
    </thead>
    <tbody>
      {
        recentAdditions.map((item) => (
          <RecentItem {...item} />
        ))
      }
    </tbody>
  </table>
</section>