---
const { Date, Titre, Saison, Plateforme } = Astro.props;
---

<tr class="bg-notiongray-100 dark:bg-darkbgBrown-950">
  <td class="p-1 text-center">
    {Date.split("/").slice(0,2).join("/")}
  </td>
  <td class="p-1 pl-2 font-medium">{Titre}</td>
  <td class="p-1 pl-2">{Saison}</td>
  <td class="p-1 pl-2">{Plateforme}</td>
</tr>
