---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Contact";
---

<Layout pageTitle={pageTitle}>
	<main class="px-4 pb-4 font-text sm:mt-8 mb-24">
		<h1 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-8">{pageTitle}</h1>
		
		<p class="my-4">Si vous avez repéré une erreur, si vous avez une suggestion de date ou une remarque, n'hésitez pas à prendre contact :</p>
		<ul class="list-disc">
			<li class="ml-4 mb-2 font-medium"><a href="mailto:nicolasmilhem@gmail.com">Par Mail</a></li>
			<li class="ml-4 font-medium"><a href="https://twitter.com/seriestvnews" target="_blank">Sur X (anciennement Twitter)</a></li>
		</ul>

		<p class="mt-8 mb-4 italic">[Page en construction...]</p>
		
	</main>
</Layout>