---
import Planning from '../components/Planning.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = "Planning Astro";
---

<Layout pageTitle={pageTitle}>
	<main class="px-4 pb-4 border border-solid border-red-400">
		<h1 class="text-5xl font-title text-center my-4">Bienvenue sur Planning Séries</h1>
		<Planning />
	</main>
</Layout>