---
import Layout from '../layouts/Layout.astro';
import Planning from '../components/planning/Planning.astro';
import RecentAdditions from '../components/recent/RecentAdditions.astro';
import Trailers from '../components/trailers/Trailers.astro';
import Hero from '../components/hero/Hero.astro';
import Selection from '../components/selection/Selection.astro';

const pageTitle = "Planning Séries";
---

<Layout pageTitle={pageTitle}>
	<main class="px-4 pb-4 font-text">
		<Hero />
		<Selection />
		<RecentAdditions />
		<Trailers />
		<Planning />
	</main>
</Layout>

<style is:global>
	section {
		scroll-margin-top: 6.5rem;
	}
</style>