---
import Layout from '../layouts/Layout.astro';
import Planning from '../components/planning/Planning.astro';
import RecentAdditions from '../components/recent/RecentAdditions.astro';
import Trailers from '../components/trailers/Trailers.astro';
import Hero from '../components/hero/Hero.astro';
import Selection from '../components/selection/Selection.astro';

const pageTitle = "Planning Séries";
const pageDescription = "Dans ce calendrier, retrouvez toutes les dates de sorties des séries en France";
const pageTitleOG = "Planning Séries, le guide ultime pour ne rien manquer";
const OGType = "website";

---

<Layout pageTitle={pageTitle} pageDescription={pageDescription} pageTitleOG={pageTitleOG} OGType={OGType}>
	<main class="px-4 pb-4 font-text">
		<Hero />
		<Selection />
		<RecentAdditions />
		<Trailers />
		<Planning />
	</main>
</Layout>

<style is:global>
	section {
		scroll-margin-top: 6.5rem;
	}
</style>