---
import Layout from '../layouts/Layout.astro';
import Planning from '../components/planning/Planning.astro';
import RecentAdditions from '../components/recent/RecentAdditions.astro';
import Trailers from '../components/trailers/Trailers.astro';
import Hero from '../components/hero/Hero.astro';

const pageTitle = "Planning Astro";
---

<Layout pageTitle={pageTitle}>
	<main class="px-4 pb-4 font-text">
		<Hero />
		<RecentAdditions />
		<Trailers />
		<Planning />
	</main>
</Layout>