---
import ShowItem from "./ShowItem.astro";

const { platform, shows } = Astro.props;
---

<div class="my-6">
    <h3 class="inline bg-notiongray-100 text-textplatform-900 sm:text-lg rounded py-1 px-2 mb-2">{platform}</h3>
    <div class="ml-8">
      {shows.map((show) => <ShowItem {...show} />)}
    </div>
</div>