---
import GroupByPlatform from "./GroupByPlatform.astro";
import { formatDate } from "../../scripts/utils";

const { date, shows } = Astro.props;

---

<div class="my-8 sm:my-12">
    <span class="font-bold text-lg sm:text-xl mb-2">{formatDate(date)}</span>
    {shows.map((platformGroup) => <GroupByPlatform {...platformGroup} />)}
</div>