---
import shows from "../../data/shows.json";
import {
  getShowsByDate,
  getSortedShowsByDate,
  getShowsByPlatform,
} from "../../scripts/utils";
import GroupByDate from "./GroupByDate.astro";

const showsByDate = getShowsByDate(shows);
const sortedShowsByDate = getSortedShowsByDate(showsByDate);

const computedShows = sortedShowsByDate.map((group) => {
  const showsByPlatform = getShowsByPlatform(group.shows);

  return {
    date: group.date,
    shows: showsByPlatform,
  };
});
---

<section id="planning">
  <h2 class="font-bold text-2xl sm:text-4xl my-4 border-b-4 sm:border-b-8 border-notionyellow-500 inline">Planning</h2>
  {computedShows.map((dateGroup) => <GroupByDate {...dateGroup} />)}
</section>
