---
import shows from "../../data/shows.json";
import {
  getShowsByDate,
  getSortedShowsByDate,
  getShowsByPlatform,
} from "../../scripts/utils";
import GroupByDate from "./GroupByDate.astro";
import SectionTitle from "../SectionTitle.astro";

const showsByDate = getShowsByDate(shows);
const sortedShowsByDate = getSortedShowsByDate(showsByDate);

const computedShows = sortedShowsByDate.map((group) => {
  const showsByPlatform = getShowsByPlatform(group.shows);

  return {
    date: group.date,
    shows: showsByPlatform,
  };
});
---

<section id="planning">
  <SectionTitle text="Planning" />
  {computedShows.map((dateGroup) => <GroupByDate {...dateGroup} />)}
</section>
