---
---
<footer>
    <a class="hover:underline" href="/">Accueil</a>
    <a class="hover:underline" href="/a-propos/">À propos</a>
    <a class="hover:underline" href="/contact/">Contact</a>
</footer>

<style>
    footer {
        width: 100%;
        background-color: #eee;
        display: flex;
        gap: 1rem;
    }
</style>