---
---
<header class="p-4 flex justify-between items-center flex-wrap gap-4">
    <a class="uppercase text-2xl sm:text-3xl font-medium font-title" href="/"><span class="text-notionyellow-500 ">Planning</span><span class="text-gray-800">Series</span></a>
    <nav class="text-gray-800">
        <ul class="flex items-center gap-4 sm:gap-8 flex-wrap font-medium">
            <li><a class="hover:text-blue-600" href="#planning">Planning</a></li>
            <li><a class="hover:text-blue-600" href="#last-addition">Derniers Ajouts</a></li>
            <li><a class="hover:text-blue-600" href="#trailers">Trailers</a></li>
        </ul>
    </nav>
</header>
