---
---
<header class="max-w-7xl mx-auto p-4 flex justify-between items-center flex-wrap gap-4 bg-white">
    <a class="uppercase text-2xl sm:text-3xl font-medium font-title" href="/"><span class="text-notionyellow-600">Planning</span><span class="text-gray-800">Series</span></a>
    <nav class="text-gray-800">
        <ul class="flex items-center gap-4 sm:gap-8 flex-wrap font-medium">
            <li><a class="hover:text-notionyellow-600" href="/#planning">Planning</a></li>
            <li><a class="hover:text-notionyellow-600" href="/#recent">Derniers Ajouts</a></li>
            <li><a class="hover:text-notionyellow-600" href="/#trailers">Trailers</a></li>
        </ul>
    </nav>
</header>

<style>
    li a {
		transition: color 0.2s ease-in-out;
	}

	li a:hover {
		transition: color 0.2s ease-in-out;
	}
</style>